<!DOCTYPE html>
<html>

<head>
  <link href="/stylesheets/bootstrap.min.css" type="text/css" rel="stylesheet">

</head>

<body>
  <form id='home-form' action='/' method='get'>
    <input id='home-btn' type='button' value='Home'>
  </form>
  

  <form id='search-form' action='/search' method='get'>
    <input type='text' name='name' value='<%= name %>' placeholder='University Name'>
    <input type='text' name='country' value='<%= country %>' placeholder='Country'>
    <input type='hidden' name='page' value='1' />
    <input type='submit'>
  </form>

  <p>Server latency: <%= latency_ms %>ms</p>
  <% if (cache_hit) { %>
    <p>Cache Hit!</p>
  <% } else { %>
    <p>Cache Miss</p>
  <% } %>
  <p>Cache capacity: <%= cache_size %>/<%= cache_max_size %></p>

  <% if (data.length > 0) { %>
    <% data.forEach(function(univ) { %>
    <div>
      <h3><%= univ.name %></h3>
      <h5><%= univ.country %></h5>
      <h5><a href='<%= univ.web_pages[0] %>'><%= univ.web_pages[0] %></a></h5>
    </div>
    <% }); %>
  <% } else { %>
    <div>
      <h2>No result found.</h2>
    </div>
  <% } %>

  <form id='page-form'  action='/search' method='get'>
    <input type='hidden' name='name' value='<%= name %>' />
    <input type='hidden' name='country' value='<%= country %>' />
    <div>
        <input type='button' id='previous-page' value='Previous'>
        Page <input id='page-number' type='number' name='page' value='<%= page %>' max='<%= Math.max(Math.ceil(total_length / page_length), 1) %>' min='1'> of <%= Math.max(Math.ceil(total_length / page_length), 1) %> <input type='submit' value='Go'>
        <input type='button' id='next-page' value='Next'>
    </div>
    
    
  </form>

  <script>
    let previous_btn = document.getElementById('previous-page');
    let next_btn = document.getElementById('next-page');
    let page_form = document.getElementById('page-form');
    let page_num = document.getElementById('page-number');
    let home_form = document.getElementById('home-form');
    let home_btn = document.getElementById('home-btn');

    home_btn.addEventListener('click', () => {
      home_form.submit();
    });


    let page = <%= page %>;
    

    window.onload = () => {
      console.log(page);
      console.log(page <= 1);
      console.log(page >= <%= Math.max(Math.ceil(total_length / page_length), 1) %>);
      previous_btn.removeAttribute('disabled');
      next_btn.removeAttribute('disabled');

      if (page <= 1)
        previous_btn.setAttribute('disabled', true);
      if (page >= <%= Math.max(Math.ceil(total_length / page_length), 1) %>)
        next_btn.setAttribute('disabled', true);
    }

    previous_btn.addEventListener('click', () => {
      page_num.setAttribute('value', page - 1);
      page_form.submit();
    });
    next_btn.addEventListener('click', () => {
      page_num.setAttribute('value', page + 1);
      page_form.submit();
    });

  </script>

</body>

</html>